*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    color: fff;
}
h1{
    text-align: center;
    text-decoration: #2d232e;
    margin-top: 3%;
}
button{
    border-radius: 8px;
    display: inline-block;
    text-align:center ;
    padding: 14px 40px;
    margin-top:5% ;
    
}
  
